---
import NavHeader from "../components/NavHeader.svelte";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  heading: string;
  description: string;
 }

const { title } = Astro.props;
const {heading} = Astro.props;
const {description} = Astro.props;

import { SEO } from "astro-seo";

import Analytics from '@vercel/analytics/astro'

---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
     <link rel="icon" href="/fav.png" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="sitemap" href="/sitemap-index.xml" />
     <meta name="google-site-verification" content="tVeKLtA_yA_dnqdU2aACR-ES0C2u9uQzFmwpVJNtKQM" />
    <SEO
    title={title}
    titleDefault= "Patriot Discount Oil"
    description={description}
     charset="utf-8"
    openGraph={{
      basic: {
        title: `${heading}`,
        type: `website`,
        image: "https://patriotdiscountoilct.com/public/oil-truck.jpg",
        url: "https://patriotdiscountoilct.com/",
      }
    }}
    twitter={{
      creator: "@PatriotDiscountOil",
      site: "@PatriotDiscountOil",
      card: "summary_large_image",
      title: `${heading}`,
      description: `${description}`,
      image: "https://patriotdiscountoilct.com/public/oil-truck.jpg",
    }}
    
  />
    <ViewTransitions />
    <Analytics/>
   </head>

  <body class="overscroll-none	">
    <NavHeader client:only />

    <slot />
    <Footer />
  </body>
</html>
